.header_custom table > thead > tr {
    background-color: #848ebf !important;
}
.header_custom table > thead > tr>th {
    color: #fff !important;
    text-align: center;
}
.header_custom table > tbody tr td
{
    text-align: center;
}